body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 70px 100px 0 300px;
}

hr {
    position: relative;
    left: -270px;
    width: calc(100% + 340px);
}

body h1 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

.korir-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
    margin-right: 50px;
}

.description {
    margin-top: 180px;
    font-size: 17px;
}
